ul{
    position: relative; width: 100%;
    li{
        overflow: hidden; min-height: 70px; margin-bottom: 10px;
        border: dashed 1px #dedede; border-radius: 5px;
        &.show{
            background-color: $primary-color-light;
            .head{
                i{&::before{content: "-";}}
            }
            .body{display: block;}
        }
        .head{
            display: flex; align-items: center;
            border-radius: 5px; padding: 20px;
            font-family: $font-family-serif;
            font-size: 16px; font-weight: bold;
            cursor: pointer;
            i{
                position: relative;
                width: 30px; height: 30px; 
                display: inline-flex; align-items: center; justify-content: center;
                font-size: 20px; font-weight: bold;
                border-radius: 100%; margin-right: 10px;
                background-color: #fff;
                &::before{content: "+";}
            }
        }
        .body{
            display: none; overflow: hidden;
            height: 0; 
            .wrapper{
                position:relative; overflow: hidden;
                padding: 0px 20px 20px 60px;
                border-radius: 5px;
                p{
                    font-family: $font-family-sans-serif;
                    font-size: 14px; margin-bottom: 20px;
                }
                a{
                    display: inline-block;
                    font-size: 14px; font-weight: bold;
                    padding: 10px 30px; border-radius: 60px;
                    background-color: $primary-color-base;
                    text-align: center;
                    font-family: $font-family-sans-serif;
                }

            }
        }
    }
}