body{
    background-color: #f1f1f1;
    padding: 20px;
    line-height: 1.5;
    @media (min-width:768px) {
        padding: 50px;
    }
}

.container{
    width: 100%; 
    margin: auto; padding: 20px;
    display: flex; justify-content: center; flex-wrap: wrap;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 30px 30px rgba($color: #666, $alpha: .1);
    @media (min-width:768px) {
        max-width: 600px; padding: 50px;
    }

    > .head{
        width: calc(100% + 100px);
        margin: -50px -50px 50px -50px;
        padding: 50px;
        border-bottom: dashed 1px #dedede;
        .title{
            font-family: $font-family-serif;
            font-size: 20px; font-weight: bold;
            margin-bottom: 20px;
        }
        .description{
            font-family: $font-family-sans-serif;
            font-size: 14px;
            .info{
                background-color: $primary-color-base;
                font-weight: bold; text-decoration: underline;
            }
        }
    }
}